@model IList<Movies>
@{
    ViewData["Title"] = "Movies";
}

<h2>Movies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>ReleaseDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>@Html.DisplayFor(_ => item.Title)</td>
                <td>@Html.DisplayFor(_ => item.Genre)</td>
                <td>@Html.DisplayFor(_ => item.ReleaseDate)</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
